/image/
/xml/
/Try.py
/train/bacteria/
/train/cryst/
/train/eryth/
/train/mycete/
/train/epithn/
/train/leuko/
/test/mycete/
/test/bacteria/
/test/cryst/
/test/eryth/
/test/leuko/
/test/epithn/
/single test/random/